@charset "utf-8";

html[tema="claro"] {
  /*variaveis da paleta de cores do tema claro*/
  --rodape-1: #130203; /*rodape*/
  --navbar-2: #006987; /*navBar*/
  --botao-3: #023D54; /*botao*/
  --efeito-4:#DFEDF2; /*efeito*/
  --texto-5: #031D2E; /*texto invertido*/
  --texto-6: #eeeeee; /*texto*/
  --fundo-7: #fcfcfd; /*fundo*/
  --card-8: #6E8F98;/*fundo*/
  /*fim das variaveis da paleta de cores do tema claro*/
}

html[tema="escuro"] {
  /*variaveis da paleta de cores do tema escuro*/
  --rodape-1: #130203; /*rodape*/
  --navbar-2: #02050C; /*navBar*/
  --botao-3: #11233E; /*botao*/
  --efeito-4: #3A6375; /*efeito*/
  --texto-5: #d2d2d2; /*texto invertido*/
  --texto-6: #d2d2d2; /*texto*/
  --fundo-7: #060C16; /*fundo*/
  /*fim das variaveis da paleta de cores do tema escuro*/
}

html[tema="daltonico"] {
  /*variaveis da paleta de cores do tema daltonico*/
  --rodape-1: #e40000; /*rodape*/
  --navbar-2: #bd1749; /*navBar*/
  --botao-3: #703975; /*botao*/
  --efeito-4: #56565c; /*botao*/
  --texto-5: #000000; /*texto*/
  --fundo-6: #4e8e97; /*fundo*/
  --fundo-7: #8a974e; /*fundo*/
  /*fim das variaveis da paleta de cores do tema daltonico*/
}

:root{
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: var(--tran-05);
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--fundo-7);
  transition: var(--tran-05);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.h-100{
    height: 100%;
}

.input{
    border:1px solid #cecece;
  }
  
  .borda::before{
  background-color:#ffffff00!important;
  }
  
  .borda{
    background-color:#ffffff00!important;
  }

.botao{
    background-color: var(--botao-3);
    color:var(--texto-6);
    border: var(--botao-3);   
    font-size: 14px;   
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: var(--tran-04);
}
  
.botao:hover{
    background-color: var(--efeito-4);
    color:var(--texto-5);
    transition: var(--tran-03);
}

.botao2{
    width: 100%;
    background-color: var(--botao-3);
    color:var(--texto-6);
    border: var(--botao-3);
    align-items: center;
    text-align: center;
    font-size: 14px; 
    cursor: pointer;
    transition: var(--tran-04);
}

.botao2:hover{
    background-color: var(--efeito-4);
    color:var(--texto-5);
    transition: var(--tran-03);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");