<div class="modal fade" id="config" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">

                    <div class="modal-header" id="modalhome">
                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Configurações</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <div class="row m-1">

                            <div class="col-6">

                                    <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle d-flex botao" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="droplinknavbar">
                                        <i class='bx bxs-sun' id="icone"></i>
                                        <p class="my-auto ms-2 me-1">Temas</p>
                                    </a>

                                    <ul class="dropdown-menu" id="dropNavbar">
                                        <li><a class="dropdown-item" href="#" id="tema-toggler-claro">Claro</a></li>
                                        <li><a class="dropdown-item" href="#" id="tema-toggler-escuro">Modo Escuro</a></li>
                                        <li><a class="dropdown-item" href="#" id="tema-toggler-daltonico">Modo Daltônico</a></li>
                                    </ul>
                                    </div>
                            </div>

                            <div class="col-5">

                                    <div class="dropdown">
                                    <a class="btn btn-danger d-flex " data-bs-toggle="modal" data-bs-target="#editarSenha">
                                        <i class='bx bxs-pencil' id="icone"></i>
                                        <p class="my-auto ms-2 me-1">Mudar senha</p>
                                    </a>

                                    </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>