<!--    perfil  -->
                <div class="container-fluid col-12 col-lg-3 m-0 p-0">
                    <nav class="navbar navbar-expand-lg h-100" id="perfil">

                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasExampleLabel">DIVTECHNE</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body" >

                                <div class="container-fluid row mx-auto menu">

                                    <div class="container col-12 mx-auto m-0 p-0">
                                        <img src="{{ url_for('static', filename='posts/{}'.format(profissional.foto)) }}" class="img-fluid rounded-circle border">
                                    </div>

                                    <div class="container col-10 mx-auto link">
                                        <li class="itemLink">
                                            <a href="{{ url_for('meu_perfil_profissional') }}">{{ profissional.nome }}</a>
                                        </li>
                                    </div>

                                    <div class="container col-10 mx-auto link">
                                        <li class="itemLink">
                                            <a href="D_favoritos.html">Favoritos</a>
                                        </li>
                                    </div>

                                    <div class="container col-10 mx-auto link">
                                        <li class="itemLink">
                                            <a href="{{ url_for('meu_perfil_profissional') }}">Meu perfil</a>
                                        </li>
                                    </div>

                                    <div class="container col-10 mx-auto link">
                                        <li class="itemLink">
                                            <a href="D_meuPortifolio.html">Meu portifólio</a>
                                        </li>
                                    </div>


                                    <div class="container col-10 mx-auto link">
                                        <li class="itemLink">
                                            <a href="D_meusProjetos.html">Meus projetos</a>
                                        </li>
                                    </div>

                                    <div class="container col-12 mx-auto mt-5 pb-5">
                                        <div class="row mx-auto">
                                            <div class="col-3 mx-auto"><i class='bx bxl-facebook-square' id="icone"></i></div>
                                            <div class="col-3 mx-auto"><i class='bx bxl-instagram-alt' id="icone"></i></div>
                                            <div class="col-3 mx-auto"><i class='bx bxl-linkedin-square' id="icone"></i></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
<!--    fim do perfil  -->